body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:80px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:fixed;
  right:12px;
  bottom:12px;
  width:81px;
  height:81px;
  overflow:hidden;
}
#u1_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2_img.selected {
}
#u2.selected {
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:29px;
  width:40px;
  height:23px;
  color:#993300;
}
#u4_img.selected {
}
#u4.selected {
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:fixed;
  right:12px;
  top:50%;
  margin-top:-215.5px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:41px;
  height:151px;
  background-image:none;
}
#u8_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:55px;
  width:150px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:12px;
  width:36px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:18px 8px;
  -ms-transform-origin:18px 8px;
  -moz-transform-origin:18px 8px;
  -webkit-transform-origin:18px 8px;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:65px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:43px;
  width:17px;
  height:64px;
  color:#FFFFFF;
  text-align:center;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
