.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_2 {
}
.box_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.ellipse {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._文本段落 {
  text-align:left;
}
._一级标题 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._形状 {
}
._图片 {
  color:#000000;
}
._垂直线 {
}
._水平线 {
}
._图片1 {
}
.placeholder {
}
.button {
}
._一级标题1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._文本段落1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
._流程形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._连接线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:11px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.line {
}
._文本段落2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
._图片2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._文本框 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
.box_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.icon {
}
._图片3 {
  color:#000000;
}
.flow_shape {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._表格 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._单元格 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.box_11 {
}
._图片4 {
  color:#000000;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
._形状1 {
  font-size:13px;
  color:#000000;
}
._复选框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.paragraph {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.connector {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._形状2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._文本 {
  text-align:left;
}
._连接符 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
.image {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.box_31 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
._文本链接 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
._鼠标悬停文本链接时 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._鼠标按下文本链接时 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.arrow {
}
.snapshot {
}
.sticky_1 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.text_link_mouse_over {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.text_link_mouse_down {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.label2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
.arrow1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._二级标题2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._图像 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.shape {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.text_area {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.table {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._鼠标悬停文本链接 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._鼠标按下文本链接 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._文本1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
._图像1 {
  color:#000000;
}
.image1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
.flow_shape1 {
}
._形状3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
