body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1153px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1199 {
  position:fixed;
  right:0px;
  top:0px;
  width:121px;
  height:121px;
  overflow:hidden;
}
#u1199_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1199_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:166px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:83px 38px;
  -ms-transform-origin:83px 38px;
  -moz-transform-origin:83px 38px;
  -webkit-transform-origin:83px 38px;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:20px;
  width:375px;
  height:667px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:40px;
  width:375px;
  height:44px;
  font-size:20px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:20px;
  width:375px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:47px;
  width:60px;
  height:30px;
  font-size:14px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:47px;
  width:60px;
  height:30px;
  font-size:14px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:598px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:86px;
  width:375px;
  height:597px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:84px;
  width:375px;
  height:603px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:52px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:117px;
  width:304px;
  height:162px;
  overflow:hidden;
}
#u1219_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:162px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1219_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:303px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u1220_ann {
  border-width:0px;
  position:absolute;
  left:296px;
  top:117px;
  width:1px;
  height:1px;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:58px;
  width:85px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u1222_img.disabled {
}
#u1222.disabled {
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u1222_ann {
  border-width:0px;
  position:absolute;
  left:296px;
  top:54px;
  width:1px;
  height:1px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
}
#u1224_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u1224_input {
  font-family:'Arial';
}
#u1224_ann {
  border-width:0px;
  position:absolute;
  left:296px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:218px;
  height:40px;
}
#u1225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u1225_input {
  font-family:'Arial';
}
#u1225_ann {
  border-width:0px;
  position:absolute;
  left:211px;
  top:55px;
  width:1px;
  height:1px;
}
#u1219_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:162px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1219_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:303px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1226_img.disabled {
}
#u1226.disabled {
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
}
#u1228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u1228_input {
  font-family:'Arial';
}
#u1228_ann {
  border-width:0px;
  position:absolute;
  left:296px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:125px;
  width:43px;
  height:16px;
  color:#0000FF;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1219_ann {
  border-width:0px;
  position:absolute;
  left:349px;
  top:113px;
  width:1px;
  height:1px;
}
#u1231 {
  position:absolute;
  left:478px;
  top:34px;
}
#u1231_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:676px;
  height:1094px;
  background-image:none;
}
#u1231_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:43px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:203px;
  width:133px;
  height:42px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:129px;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:81px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:309px;
  width:167px;
  height:80px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:163px;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:81px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:448px;
  width:167px;
  height:80px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:163px;
  word-wrap:break-word;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:245px;
  width:0px;
  height:0px;
}
#u1238_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u1238_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:51px;
  width:18px;
  height:19px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:389px;
  width:0px;
  height:0px;
}
#u1240_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u1240_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:46px;
  width:18px;
  height:19px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:43px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:598px;
  width:133px;
  height:42px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:129px;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:328px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:379px;
  width:102px;
  height:16px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:349px;
  width:0px;
  height:0px;
}
#u1248_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u1248_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:528px;
  width:0px;
  height:0px;
}
#u1250_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u1250_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:57px;
  width:18px;
  height:19px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:467px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:518px;
  width:102px;
  height:16px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:488px;
  width:0px;
  height:0px;
}
#u1256_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u1256_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:43px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:704px;
  width:133px;
  height:42px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:129px;
  word-wrap:break-word;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:640px;
  width:0px;
  height:0px;
}
#u1260_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u1260_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:51px;
  width:18px;
  height:19px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:43px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:798px;
  width:133px;
  height:42px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:129px;
  word-wrap:break-word;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:746px;
  width:0px;
  height:0px;
}
#u1264_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u1264_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:81px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:894px;
  width:167px;
  height:80px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:163px;
  word-wrap:break-word;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:840px;
  width:0px;
  height:0px;
}
#u1268_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u1268_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:41px;
  width:18px;
  height:19px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:43px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1051px;
  width:133px;
  height:42px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:129px;
  word-wrap:break-word;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:974px;
  width:0px;
  height:0px;
}
#u1272_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u1272_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:64px;
  width:18px;
  height:19px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:934px;
  width:0px;
  height:0px;
}
#u1274_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:82px;
  height:8px;
}
#u1274_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:912px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:964px;
  width:102px;
  height:16px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:598px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:649px;
  width:102px;
  height:16px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:619px;
  width:0px;
  height:0px;
}
#u1284_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u1284_seg1 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:55px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:110px;
  height:54px;
  color:#999999;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:106px;
  word-wrap:break-word;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:55px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:36px;
  width:110px;
  height:54px;
  color:#0000FF;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:106px;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:55px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:36px;
  width:110px;
  height:54px;
  color:#999999;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:106px;
  word-wrap:break-word;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:55px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:36px;
  width:110px;
  height:54px;
  color:#0000FF;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:106px;
  word-wrap:break-word;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:63px;
  width:0px;
  height:0px;
}
#u1294_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u1294_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:63px;
  width:0px;
  height:0px;
}
#u1296_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u1296_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:63px;
  width:0px;
  height:0px;
}
#u1298_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u1298_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:100px;
  width:57px;
  height:16px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:100px;
  width:57px;
  height:16px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:100px;
  width:85px;
  height:32px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:100px;
  width:57px;
  height:16px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:99px;
  height:16px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:17px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1231_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:690px;
  height:293px;
  visibility:hidden;
  background-image:none;
}
#u1231_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:226px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:225px;
  line-height:28px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u1314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:42px;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:50px;
  width:174px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u1316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:135px;
  width:108px;
  height:38px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u1318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:42px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:133px;
  width:136px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:39px;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:135px;
  width:108px;
  height:38px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:154px;
  width:0px;
  height:0px;
}
#u1322_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u1322_seg1 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:154px;
  width:0px;
  height:0px;
}
#u1324_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u1324_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:29px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:264px;
  width:689px;
  height:28px;
  line-height:28px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  word-wrap:break-word;
}
#u1328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:65px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:295px;
  width:168px;
  height:64px;
  color:#FFFFFF;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:164px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:391px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1198.a {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u1199.a {
  position:fixed;
  right:0px;
  top:0px;
  width:121px;
  height:121px;
  overflow:hidden;
}
#u1200.a {
}
#u1200_img.a {
}
#u1201.a {
}
#u1199_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1202.a {
  position:absolute;
  left:16px;
  top:20px;
  width:375px;
  height:667px;
}
#u1203.a {
}
#u1203_img.a {
}
#u1204.a {
}
#u1205.a {
}
#u1205_img.a {
}
#u1206.a {
}
#u1207.a {
}
#u1207_img.a {
}
#u1208.a {
}
#u1209.a {
}
#u1209_img.a {
}
#u1210.a {
}
#u1211.a {
}
#u1211_img.a {
}
#u1212.a {
}
#u1213.a {
  left:0px;
  top:69px;
}
#u1213_img.a {
}
#u1214.a {
}
#u1215.a {
  left:0px;
  top:65px;
  height:602px;
}
#u1215_img.a {
  height:603px;
}
#u1216.a {
  top:293px;
}
#u1217.a {
  left:143px;
  top:35px;
}
#u1217_img.a {
}
#u1218.a {
}
#u1219.a {
  border-width:0px;
  position:absolute;
  left:37px;
  top:100px;
  width:304px;
  height:162px;
}
#u1220.a {
}
#u1220_img.a {
}
#u1221.a {
}
#u1220_ann.a {
}
#u1222.a {
}
#u1222_img.a {
}
#u1222_img.a.disabled {
}
#u1222.a.disabled {
}
#u1223.a {
}
#u1222_ann.a {
}
#u1224.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
}
#u1224_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u1224_input.a {
  font-family:'Arial';
}
#u1224_ann.a {
}
#u1225.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:218px;
  height:40px;
}
#u1225_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u1225_input.a {
  font-family:'Arial';
}
#u1225_ann.a {
}
#u1226.a {
}
#u1226_img.a {
}
#u1226_img.a.disabled {
}
#u1226.a.disabled {
}
#u1227.a {
}
#u1228.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
}
#u1228_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u1228_input.a {
  font-family:'Arial';
}
#u1228_ann.a {
}
#u1229.a {
}
#u1229_img.a {
}
#u1230.a {
}
#u1219_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1219_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1219_ann.a {
  left:333px;
  top:96px;
}
#u1231.a {
  position:absolute;
  left:478px;
  top:34px;
}
#u1232.a {
}
#u1232_img.a {
}
#u1233.a {
}
#u1234.a {
}
#u1234_img.a {
}
#u1235.a {
}
#u1236.a {
}
#u1236_img.a {
}
#u1237.a {
}
#u1238.a {
}
#u1240.a {
}
#u1242.a {
}
#u1242_img.a {
}
#u1243.a {
}
#u1244.a {
}
#u1244_img.a {
}
#u1245.a {
}
#u1246.a {
}
#u1246_img.a {
}
#u1247.a {
}
#u1248.a {
}
#u1250.a {
}
#u1252.a {
}
#u1252_img.a {
}
#u1253.a {
}
#u1254.a {
}
#u1254_img.a {
}
#u1255.a {
}
#u1256.a {
}
#u1258.a {
}
#u1258_img.a {
}
#u1259.a {
}
#u1260.a {
}
#u1262.a {
}
#u1262_img.a {
}
#u1263.a {
}
#u1264.a {
}
#u1266.a {
}
#u1266_img.a {
}
#u1267.a {
}
#u1268.a {
}
#u1270.a {
}
#u1270_img.a {
}
#u1271.a {
}
#u1272.a {
}
#u1274.a {
}
#u1276.a {
}
#u1276_img.a {
}
#u1277.a {
}
#u1278.a {
}
#u1278_img.a {
}
#u1279.a {
}
#u1280.a {
}
#u1280_img.a {
}
#u1281.a {
}
#u1282.a {
}
#u1282_img.a {
}
#u1283.a {
}
#u1284.a {
}
#u1286.a {
}
#u1286_img.a {
}
#u1287.a {
}
#u1288.a {
}
#u1288_img.a {
}
#u1289.a {
}
#u1290.a {
}
#u1290_img.a {
}
#u1291.a {
}
#u1292.a {
}
#u1292_img.a {
}
#u1293.a {
}
#u1294.a {
}
#u1296.a {
}
#u1298.a {
}
#u1300.a {
}
#u1300_img.a {
}
#u1301.a {
}
#u1302.a {
}
#u1302_img.a {
}
#u1303.a {
}
#u1304.a {
}
#u1304_img.a {
}
#u1305.a {
}
#u1306.a {
}
#u1306_img.a {
}
#u1307.a {
}
#u1308.a {
}
#u1308_img.a {
}
#u1309.a {
}
#u1310.a {
}
#u1310_img.a {
}
#u1311.a {
}
#u1312.a {
}
#u1312_img.a {
}
#u1313.a {
}
#u1314.a {
}
#u1314_img.a {
}
#u1315.a {
}
#u1316.a {
}
#u1316_img.a {
}
#u1317.a {
}
#u1318.a {
}
#u1318_img.a {
}
#u1319.a {
}
#u1320.a {
}
#u1320_img.a {
}
#u1321.a {
}
#u1322.a {
}
#u1324.a {
}
#u1326.a {
}
#u1326_img.a {
}
#u1327.a {
}
#u1231_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:676px;
  height:1094px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1231_state1.a {
  position:relative;
  left:0px;
  top:0px;
  width:690px;
  height:293px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1328.a {
  left:104px;
  top:278px;
}
#u1328_img.a {
}
#u1329.a {
}
