body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:362px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:159px;
  width:751px;
  height:361px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  word-wrap:break-word;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:579px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
.u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:51px;
}
.u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
.u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
.u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:51px;
}
.u21 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:412px;
  height:50px;
}
.u22 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:17px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
}
#u18-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:600px;
  height:50px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:660px;
  width:600px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:51px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:610px;
  width:188px;
  height:50px;
  color:#FFFFFF;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:51px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:610px;
  width:412px;
  height:50px;
  color:#FFFFFF;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:408px;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:801px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
.u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:51px;
}
.u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
.u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
.u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:51px;
}
.u33 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:412px;
  height:50px;
}
.u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
}
#u30-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:600px;
  height:50px;
}
#u30-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:600px;
  height:50px;
}
#u30-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:600px;
  height:50px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:887px;
  width:600px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:51px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:837px;
  width:188px;
  height:50px;
  color:#FFFFFF;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:51px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:837px;
  width:412px;
  height:50px;
  color:#FFFFFF;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:408px;
  word-wrap:break-word;
}
#u40 {
  position:fixed;
  right:12px;
  bottom:12px;
  width:81px;
  height:81px;
  overflow:hidden;
}
#u40_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u41_img.selected {
}
#u41.selected {
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:29px;
  width:40px;
  height:23px;
  color:#993300;
}
#u43_img.selected {
}
#u43.selected {
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:fixed;
  right:12px;
  top:50%;
  margin-top:-215.5px;
}
#u47_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:41px;
  height:151px;
  background-image:none;
}
#u47_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:55px;
  width:150px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:12px;
  width:36px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:18px 8px;
  -ms-transform-origin:18px 8px;
  -moz-transform-origin:18px 8px;
  -webkit-transform-origin:18px 8px;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:65px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:43px;
  width:17px;
  height:64px;
  color:#FFFFFF;
  text-align:center;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:1024px;
  height:80px;
  opacity:0.1;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:fixed;
  left:50%;
  margin-left:-512.5px;
  top:0px;
  width:1025px;
  height:81px;
  overflow:hidden;
}
#u55_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/产品介绍/u55_state0.jpg');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:2px 80px;
}
#u55_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:81px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:80px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:76px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:75px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:fixed;
  left:50%;
  margin-left:-512.5px;
  top:0px;
}
#u60_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
  background-image:none;
}
#u60_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:80px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:76px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:75px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:75px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:13px;
  width:140px;
  height:50px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:13px;
  width:13px;
  height:50px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
.u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:76px;
}
.u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:75px;
  font-size:16px;
  color:#FFFFFF;
}
.u73_img.selected {
}
.u73.selected {
}
.u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:121px;
  word-wrap:break-word;
}
#u72-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:75px;
}
#u72-2 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:75px;
}
#u72-3 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:75px;
}
#u72-4 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:125px;
  height:75px;
}
#u72-5 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:125px;
  height:75px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:625px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:62px;
  width:31px;
  height:15px;
}
#u75_img.selected {
}
#u75.selected {
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:200px;
  top:80px;
  visibility:hidden;
}
#u77_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:126px;
  height:361px;
  background-image:none;
}
#u77_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
.u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  color:#FFFFFF;
}
.u79_img.mouseOver {
}
.u79.mouseOver {
}
.u79_img.selected {
}
.u79.selected {
}
.u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u78-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u78-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:125px;
  height:40px;
}
#u78-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:125px;
  height:40px;
}
#u78-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:125px;
  height:40px;
}
#u78-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:125px;
  height:40px;
}
#u78-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:125px;
  height:40px;
}
#u78-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:125px;
  height:40px;
}
#u78-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:125px;
  height:40px;
}
#u78-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:125px;
  height:40px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
